.hk_home{
    background: #f6f5f6;
    height: 100%;
    .Hk_swiper{
        position: relative;
        .search{
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 999;
            top:25px;
            padding:0 10px 0 20px;
        }
    }

    // 导航
    .hk_nav{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background: #fff;
        .navs{
            text-align: center;
           .nav{
              img{
                  width: 48px;
                  height: 48px;
              }
              p{
                  font-size: 13px;
                  font-weight: 400;
                  margin-top:5px;
              }
           }
        }
      }

      //租房小组
      .hk_Renting {
          padding: 5px;
        .Renting-top {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
          h3 {
            color: #333333;
            font-size: 15px;
          }
      
          span {
            color: #787d82;
          }
        }
      
        .Renting-bottom {
            display: flex;
            flex-wrap: wrap;
          .Renting-bottomlist {
              height: 95px;
              background: #fff;
              width: 50%;
             border:5px solid #f6f5f6;
             display: flex;
             justify-content: space-between;
             padding-bottom: 10px;
            .bottomlist-left {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              p {
                font-size: 13px;
                margin-bottom: 5px;
              }
      
              span {
                color: #999999;
                font-size: 12px;
              }
            }
      
            .bottomlist-right {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              img {
                width: 55px;
                height: 55px;
              }
            }
          }
        }
      }

      //最新资讯
      .hk_zixun {
          padding: 20px;
          background: #fff;
        h3 {
            color: #333333;
            font-size: 15px;
        }
      
        .zixun_list {
          .zixun {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #ddd;
              padding: 15px 0;
            .zixun-left {
                flex: 1;
              img {
                
                width: 120px;
                height: 90px;
              }
      
            }
      
      
            .zixun-right{
                width: 85%;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .right-top{
                    font-weight: 600;
                }
                .right-bottom{
                    display: flex;
                    justify-content: space-between;
                    color: #9c9fa1;
                    font-size: 13px;
                    .form{}
                    .date{}
                }
            }

          }


        }
      }
}
